.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 5, 5, 5;
    -fx-padding: 10px;

}

.button:hover {
    -fx-background-color: "lightblue";
    -fx-border-width: 5px;
}

.menuButtons {
    -fx-font-size: 1.8em;
    -fx-font-weight: bold;

}

.scoreStyle {
    -fx-text-alignment: center;
    -fx-padding: 20px;
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-spacing: 4px;
}

.playerToken {
    -fx-font-size: 5em;
    -fx-padding: 30px;
    -fx-font-weight: bold;

}

.roundDisplay {
    -fx-font-size: 2em;
    -fx-padding: 20px;
    -fx-font-weight: bold;
}

.playerSelectButton {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-pref-height: 2em;
    -fx-pref-width: 4em;
}

#menuTitle {
    -fx-font-size: 4em;
    -fx-font-weight: bold;
}
